<header class="header">
	<span class="header-photo">
		<img class="header-photo-src" src="./assets/images/me_woctechshoot.2x.jpg"></span>
	</span>

	<div class="header-info">
		<span class="header-name">thalida</span>
		<div class="header-title">Frontend Developer</div>
	</div>

	<ul class="header-links">
		<li class="header-links-item">
			<a class="header-links-link" href="/#/about">About</a>
		</li>
		<li class="header-links-item">
			<a class="header-links-link" href="/#/links">Find Me</a>
		</li>
	</ul>
</header>
