<app:header></app:header>

<div class="about-view">
	<div class="text_header h1">About</div>
	<div class="bio">
		<span class="bio-image">
			<img class="bio-image-src" src="./assets/images/me_woctechshoot.2x.jpg" />
		</span>

		<span class="bio-header">The Short</span>
		<p class="bio-text">
			Web Developer at OkCupid. Queer Cis Woman of Color. Harry Potter Fan Girl.
		</p>

		<span class="bio-header">The Long</span>
		<p class="bio-text">
			I'm a young queer cisgender woman located in NYC. I’m a Mobile Developer for OkCupid, prior to moving to NYC I spent my teenage formative years in Maryland.
		</p>
		<p class="bio-text">
			I like to pretend I'm a roboticist, due to many-a-years doing robotics in both high school and college.  Alas, I am not, and in reality, I'm probably one of the best dancers you’ll see at 2am.
		</p>
		<p class="bio-text">
			I was lucky to have a wonderfully supportive mother, who got me this domain name, thalida.com, for my 16th birthday. It was one of the best gifts I’ve ever recieved in my life, and it set me on the path to beginning the developoer that I am today.
		</p>
		<p class="bio-text">
			Over the many years the site has grown and changed as I have grown as a person and as a developer, and I must ssay that this collection is one of the best states the site has been in since it’s inception.
		</p>
	</div>
</div>
